*{	
	padding: 0;
	margin: 0;  
	border: 0; 
}

*, *:before, *: after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0,border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----------------------------------------------------*/
body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow:  hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	flex: 1 1 auto;
}
.content-top-box{
	background-color: #445162;
	padding: 50px;
}
.content-top__row {
	max-width:  1180px;
	margin:  0px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	
}
.top__body {
	color: #fff;
}
.top__title {
	font-size: 60px;
	margin-bottom: 40px;
}
.top__list li {
	background: url("../img/icons/check.png") 0 0px no-repeat;
	font-size:  20px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	padding-left: 35px;
	margin-bottom: 15px;
}
.top__image {}

.content-main {}

.content-main-1-box{
	background-color: #fff;
	padding: 50px;
}
.content-main-1__row {
	max-width:  1180px;
	margin:  0px auto;

	display:  flex;
	flex-direction: row;
	align-items: flex-start;

}
.main-1__image {}
.main-1__body {
	padding-left: 40px;
	flex-grow: 1;
}
.main-1__title {
	font-size: 30px;
	color: #445161;
	margin-bottom: 36px;
}
.main-1__text {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

.content-main-2-box{
	background-color: #f5f5f5;
	padding: 50px;
}
.content-main-2 {
	max-width:  1180px;
	margin:  0px auto;
}
.main-2__title {
	font-size: 30px;
	color: #445161;
	text-align: center;
	margin-bottom: 30px;
}
.main-2__columns__row {
	display:  flex;
	flex-direction:  row;
	align-items: flex-start;
}
.main-2__column__row {
	display:  flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 0 0 590px;
}
.main-2__item {
	flex: 0 0 150px;
	background: url("../img/grey_image.jpg") 0 0 no-repeat;
	padding-left: 215px;
	margin-bottom: 30px;
}
.item_title {
	font-size: 24px;
	color: #445161;
	margin-bottom: 15px;
}
.item_text {
	font-size: 16px;
	line-height: 23px;
	color: #333333;
	max-width: 360px;
	word-wrap: break-word;
}

.content-main-3-box{
	background-color: #fff;
	padding: 50px;
}
.content-main-3 {
	max-width:  1180px;
	margin:  0px auto;
}
.main-3__title {
	font-size: 30px;
	color: #445161;
	text-align: center;
	margin-bottom: 29px;
}
.main-3__columns_row {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}
.main-3__column__row {
	flex: 0 0 300px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border-radius: 5px;
	background-color: #445162;
	margin-right: 45px;
}
.main-3_item_1 {
	width: 300px;
	text-align: center;
	padding: 18px 0;

	font-size: 24px;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 5px;
}
.main-3_item_2 {
	width: 296px;
	text-align: center;
	padding: 15px 0px;

	background-color: #fff;
	font-size: 40px;
	color: #445162;

}
.main-3_item_3 {
	flex:  1 1 auto;
	padding: 19px 30px 0 20px;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
}
.main-3_item_4 {
	width: 260px;
	padding: 20px 0;
}
.main-3__button {
	display: block;
	padding:  15px 0;
	background-color: #fff;
	border-radius: 5px;

	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-align: center;

	color: #445161;

}

.footer-box {
	padding-top: 31px;
	padding-bottom: 23px;
	background-color: #f5f5f5;
}
.footer__row {
	max-width:  1180px;
	margin:  0px auto;
	display: flex;
	flex-direction: column;
}
.footer__text {
	align-self: center;
	font-size: 12px;
	letter-spacing: 0.025em;
	color: #445162;
}